.nav {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid rgba(84, 84, 84, 0.48);
  margin-bottom: 16px;

  &:hover {
    background-color: hsla(210, 100%, 37%, 0.2);
  }

  &.active {
    color: rgba(235, 235, 235, 0.64);

    &:hover {
      background-color: transparent;
    }
  }

  &:first-of-type {
    border: 0;
  }
}